body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("https://i.pinimg.com/originals/dc/8d/ef/dc8def609c27f9123c4f61a83a3b93bd.jpg");
  background-size: 3000px 900px;


}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background-image: url("https://im6.ezgif.com/tmp/ezgif-6-0b442cf2afcd.gif");
  width: 115px;
  height: 90px;
  position:absolute;
}